<IfModule mod_rewrite.c>
	RewriteEngine On
    # Redirect /index.php to / (optional, but recommended I guess)
      RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.php
      RewriteRule ^index.php/?(.*)$ $1 [R=301,L]

    # Run everything else but real files through index.php
	  RewriteCond %{REQUEST_FILENAME} !-f
	  RewriteCond %{REQUEST_FILENAME} !-d
	 RewriteRule ^([^?]*)$ index.php?path=$1 [NC,L,QSA]
</IfModule>  
